section{
    display: flex;
    background-color: black;
}
.one{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #000;
    background-color: whitesmoke;
    margin: 5px;
    animation-name: colorChanger;
    
}
.two{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #000;
    background-color: whitesmoke;
    margin: 5px;
}
.three{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #000;
    background-color: whitesmoke;
    margin: 5px;
}

